<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.lara.synthesis.kingpong"
    android:versionCode="17"
    android:versionName="2.2.8" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
	  <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true"
		/>
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="22" />

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.epfl.lara.synthesis.kingpong.KingPong"
            android:label="@string/title_activity_game_designer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				        <action android:name="android.intent.action.VIEW" />
				        <category android:name="android.intent.category.DEFAULT" />
				        <category android:name="android.intent.category.BROWSABLE" />
				        <data android:scheme="file" />
				        <data android:mimeType="*/*" />
				        <data android:pathPattern=".*\\.pd2" />
				        <data android:host="*" />
			</intent-filter>
        </activity>
        <activity
            android:name="ch.epfl.lara.synthesis.kingpong.ImagePicker"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="ch.epfl.lara.synthesis.kingpong.PongGallery"
            android:label="@string/pick_graphics"
            android:theme="@android:style/Theme.Dialog">
		    <intent-filter>
		        <action android:name="android.intent.action.GET_CONTENT"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <data android:mimeType="image/*"/>
		    </intent-filter>
        </activity>
        <activity android:name="ch.epfl.lara.synthesis.kingpong.UserPreferences"
                  android:label="@string/prefs_general_title"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="locale"
                  android:parentActivityName="ch.epfl.lara.synthesis.kingpong.KingPong" >
		    <intent-filter>
               <action android:name="android.provider.Settings.ACTION_LOCATION_SOURCE_SETTINGS" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
          <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value="ch.epfl.lara.synthesis.kingpong.KingPong" />
        </activity>
    </application>

</manifest>